html{
    background-color: #00acee;

}
body{
    position: relative;
    margin: 0;
}

#header{
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    
}
 
#products-title{
    display:flex;
    color:white;
    font-weight: bold;
    font-style: italic;
    justify-content: center;
    margin-top: 15%;
}
.titles{
    color: white;
    font-weight: bold;
    font-style: italic;
   
}

#products{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
.products{
  
    width: 15rem;
    height: 15rem;
    border:  3px solid #035779;
    margin: 5px;

}
@media (max-width:720px){
.products{
    width: 8rem;
    height: 8rem;

}
#nav-bar{
    display: flex;
    flex-direction: column;
   
    
}
.nav-link{
    width:82px;
  
}

}
#prices {
  width: 400px;   
  display: flex;

  flex-direction: column;
 
  margin: 5% auto 0 auto;
 
}
legend{
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    color: white;
}



#header-img {
    width: 20%;
    height: 20%;   
}
fieldset{
    margin: 5% auto;
    width: 400px;

}
footer {
    
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
#submit-text{
    position: relative;
    margin: 2%;
}
#contact-us{
    margin-right: 5px;
}
#video{
    display:block;
    margin: 5% auto;

}